/* DAY 1 */

body {
  background-color: #151518;
}
.navbar-dark {
  background-color: #151518 !important;
}
.container-fluid {
  padding: 0.5rem 4rem;
}
.circle-btn {
  border-radius: 30px;
}
header {
  margin-bottom: 65px;
}
.title {
  color: #e9dede;
}
.mt-200 {
  margin-top: 200px;
}
.ms-n5 {
  margin-left: -45px;
  border: none !important;
}
.form-control,
.form-control:focus {
  color: #e9dede;
  background-color: #4f4e50;
  border: none !important;
  box-shadow: none;
  border-radius: 5px !important;
}
.form-control::placeholder {
  color: #e9dede;
}
.form-select,
.form-select:focus {
  color: #e9dede;
  background-color: #4f4e50;
  border: none !important;
  box-shadow: none;
  border-radius: 5px !important;
}
.custom-btn {
  background-color: #4f4e50 !important;
  color: #e9dede !important;
}

/* DAY 2 */
.bg-dark-custom {
  background-color: #4c4c4c !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.img-content {
  position: relative;
}
.img-content img {
  width: 100%;
}
.card-body {
  padding: 0 !important;
}
.custom-card-body {
  padding: 20px !important;
}
.content {
  text-align: left;
  padding: 4rem 2rem;
  color: #e9dede;
}
.content h3 {
  font-weight: 600;
}
.accordion-item {
  background-color: transparent;
  border: none;
  color: #e9dede;
}
.accordion-header {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: left;
  font-size: 1.2em;
  font-weight: bolder;
  letter-spacing: 0.7px;
  display: flex;
  justify-content: space-between;
}
.accordion-header i {
  margin-left: 16px;
}
.accordion-icon {
  cursor: pointer;
}
.accordion-header.opened ~ .accordion-content {
  max-height: 150px;
  opacity: 1;
  transition: opacity 0.3s linear, max-height 0.3s linear;
}
.accordion-header.opened i.bi-caret-down-fill {
  display: none;
}
.accordion-header.opened i.bi-dash-lg {
  display: block;
}
.pl-70 {
  padding-left: 70px;
}
.accordion-content {
  background-color: black;
  margin-top: 12px !important;
  margin: -38px -21px;
  padding-top: 0.03rem;
}
.accordion-content p,
.accordion-content p > a {
  padding: 1.2rem .7rem;
  background-color: #2e2e2e;
  margin: 0.2rem 0;
  color: #e9dede !important;
  text-decoration: none;
  cursor: pointer;
}
.accordion-img {
  width: 100%;
}
.accordion-title {
  font-size: 1.7rem;
}
.accordion-subtitle {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.8rem;
}

/* DAY 3 */

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.video-container {
  background-color: #000;
}
.video-info {
  margin-top: 1.5rem;
  color: #e9dede;
}
.question-container {
  margin-left: 12px;
}
.question-number {
  background-color: #e9dede;
  padding: .8rem 1rem;
  margin-left: -2rem;
  font-weight: 600;
}
.question-content {
  margin-top: -30px;
  padding: 0px 2rem;
}
.question-content p {
  text-align: left !important;
  font-size: 1.1rem;
}
.question-content img {
  max-width: 30% !important;
}
.question-content .response {
  text-align: left !important;
}

/* DAY 4  */

.auth-bg {
  background: url(../img/signup-bg.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}
.login-bg {
  background-color: black;
}
.auth-bg .title-content {
  max-width: 400px;
  margin: 0 auto;
}
.login-title-content h3 {
  font-size: 1.2rem;
}
.login-title-content p {
  font-size: .8rem;
  color: #9FA2B4;
}
.auth-card {
  margin: 0 auto;
  max-width: 360px;
  padding: 1rem;
  border-radius: .7rem !important;
  box-shadow: 0px 0px 16px 6px #0000001a;
  border: none;
}
.auth-card .card-body h4 {
  margin-top: .8rem;
  font-size: 1rem;
}
.auth-form {
  text-align: initial;
  margin-top: .8rem;
}
.auth-form p {
  text-align: center !important;
  margin-top: .6rem;
  font-size: .8rem;
  color: #c3c5c7;
  text-decoration: none;;
}
.auth-form p a {
  text-decoration: none;;
}
.auth-form .form-control,
.auth-form .form-control:focus {
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  padding: .375rem .75rem;
  box-shadow: none;
}
.auth-form .form-control::placeholder {
  color: #c3c5c7;
}
.forgot-pwd {
  float: right;
}
.forgot-pwd a {
  color: #9FA2B4;
  text-decoration: none;
  font-size: .8rem;
}
