@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* DAY 1 */
  .container-fluid {
    padding: 0.5rem 2rem;
  }
  .footer-justify-content {
    justify-content: center !important;
  }
  footer li > .text-muted{
      font-size: 1rem;
  }
  /* DAY 2 */

}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* DAY 1 */
  .mobile-div-hidden {
    display: none;
  }
  .form-control::placeholder {
    font-size: 12px;
  }
  .title {
    font-size: 1.2rem;
  }
  .slick-prev {
    left: 1% !important;
    z-index: 1;
  }
  .slick-next {
    right: 1% !important;
    z-index: 1;
  }
  .container-fluid {
    padding: 0.5rem 0.8rem;
  }
  .slide-list-container img {
    width: 98%;
  }
  .slide-grade-list-container img {
    width: 98%;
  }
  .footer-justify-content {
    justify-content: center !important;
  }
  footer li > .text-muted{
      font-size: .78rem;
  }
  /* DAY 2 */
}
