body {
    background-color: black;
}
.container-fluid {
    padding: .35rem 4rem;
}
.circle-btn {
    border-radius: 30px;
}
header {
    margin-bottom: 65px;
}
.title {
    color: #e9dede;
}
.mt-200 {
    margin-top: 200px;
}
.ms-n5 {
    margin-left: -45px;
    border: none !important;
}
.form-control,
.form-control:focus {
    color: #e9dede;
    background-color: #4F4E50;
    border: none !important;
    box-shadow: none;
    border-radius: 5px !important;
}
.form-control::placeholder {
    color: #e9dede;
}
.form-select,
.form-select:focus {
    color: #e9dede;
    background-color: #4F4E50;
    border: none !important;
    box-shadow: none;
    border-radius: 5px !important;
}
.custom-btn {
    background-color: #4F4E50 !important;
    color: #e9dede !important;
}